<div id="overview-content">
	<h1>The Continual Struggle</h1>
	<h2>The American Freedom Movement and the Seeds of Social Change.</h2>
	<div class="devider">&bull;&bull;&bull;</div>
	<p>The Continual Struggle is artist Brian Washington’s ongoing body of artwork documenting the Civil Rights Movement and America’s historical struggle against segregation and other forms of race-based disenfranchisement. The Continual Struggle employs visual art as a means of storytelling, vividly recalling a time when people were willing to go into the streets to protest injustice and inequality.</p>
	
	<div class="image-center">
		<div class="image-inner">
			<div class="frame-big"><a href="/continual-struggle/works/disinherited-belongs-future"><img alt="" class="image-overview_full" src="/sites/default/files/styles/overview_full/public/2_0.jpg?itok=ChQ3dVao" ></a></div>
			<div class="caption"><a href="/continual-struggle/works/disinherited-belongs-future">&ldquo;To The Disinherited Belongs The Future&rdquo;</a></div>
			<div class="actions"><a href="/continual-struggle/works/disinherited-belongs-future">view details</a> <span class="bull">&bull;</span><a href="/continual-struggle/works/disinherited-belongs-future#purchase">purchase print</a> </div>
		</div>
	</div>
	<p>Mr. Washington’s in-depth depiction of sharecropping, non-violent protest, freedom rides, marches, voter registration campaigns, police violence, and the realities that provoked those actions –  vividly demonstrate the conflict-ridden nature of social change.  Each individual piece is the result of Washington’s research and reflection on this critical era of American history. The use of color has been restricted by the artist in an attempt to show that the feelings of man are ageless and everlasting. </p>
	
	<div class="image-center">
		<div class="image-inner">
			<div class="frame-big"><a href="/continual-struggle/works/freedom-has-never-been-free"><img alt="" class="image-overview_full" src="/sites/default/files/styles/overview_full/public/2013-06-12-11.15.21_0.jpg?itok=zHGex-wZ" ></a></div>
			<div class="caption"><a href="/continual-struggle/works/freedom-has-never-been-free">&ldquo;Freedom Has Never Been Free&rdquo;</a></div>
			<div class="actions"><a href="/continual-struggle/works/freedom-has-never-been-free">view details</a> <span class="bull">&bull;</span><a href="/continual-struggle/works/disinherited-belongs-future#purchase">purchase print</a> </div>
		</div>
	</div>
	<p>At the age of 20 and still an undergraduate at Duke University, Washington begun blueprinting ideas for the 11-piece first edition of The Continual Struggle, known as “The Continual Struggle: The Civil Rights Movement – Yesterday, Today, and Tomorrow.” In 2003 (just three months after its completion), the first edition was acquired in its entirety by the Smithsonian Institution, and placed in the permanent collection of  the Smithsonian-affiliated National Underground Railroad Freedom Center in Cincinnati, Ohio.  The $100-million museum opened in 2004 with six interactive galleries that address slavery, the Civil War, the Underground Railroad and contemporary issues in civil and human rights.</p>
	<p>As stated by Duke University professor of Art & Art History, Merrill Shatzman:</p>
	<div class="quote-small">“[Washington]’s paintings vividly describe the passion, spiritual, political, and religious elements of the civil rights movement.  [Washington}’s paintings are imbued with a sense of empathy that underscores his unique sensibilities not only as an artist, but as a person. Through his acute sense of design and draftsmanship, and his bold use of value, Brian Washington has created a powerful contemporary viewpoint on this most altering time period...” </div>

	<div class="image-center">
		<div class="image-inner">
			<div class="frame-big"><a href="/continual-struggle/works/they-were-very-poor-loved"><img alt="" class="image-overview_full" src="/sites/default/files/styles/overview_full/public/3_1.jpg?itok=lNSbBsX8"></div>
			<div class="caption"><a href="/continual-struggle/works/they-were-very-poor-loved">&ldquo;They Were Very Poor, But Loved&rdquo;</a></div>
			<div class="actions"><a href="/continual-struggle/works/they-were-very-poor-loved">view details</a> <span class="bull">&bull;</span><a href="/continual-struggle/works/disinherited-belongs-future#purchase">purchase print</a> </div>
		</div>
	</div>
	<p>Shatzman’s observations are shared by the chairman of the Freedom Center, the Honorable Nathaniel R. Jones --  a retired 6th Circuit judge for the U.S. Court of Appeals, and a legendary civil rights figure.  Jones states that:</p>
	<div class="quote-small"> “…[W]hile the shifting scenes so skillfully created by Brian Washington in his remarkable historical panoply portraying the struggle to transform America appear, at first to be soft and warm, the viewer, upon closer examination, is struck by a contrasting realism that is penetrating and unsettling. Yet, Washington, through his artistry, succeeds in evoking a sense of the ultimate triumph of justice over oppression, which is the great lesson of the civil rights struggle, a lesson that cannot be over-taught.”</div>

	<div class="image-center">
		<div class="image-inner">
			<div class="frame-big"><a href="/continual-struggle/works/kin-folk"><img alt="" class="image-overview_full" src="/sites/default/files/styles/overview_full/public/14_1.jpg?itok=cXFBEVqZ" ></a></div>
			<div class="caption"><a href="/continual-struggle/works/kin-folk">&ldquo;Kin Folk&rdquo;</a></div>
			<div class="actions"><a href="/continual-struggle/works/kin-folk">view details</a> <span class="bull">&bull;</span><a href="/continual-struggle/works/disinherited-belongs-future#purchase">purchase print</a> </div>
		</div>
	</div>
	<p>It is perhaps his lack of formal training that has led Washington into developing his distinctive artistic style that has quickly become appealing to both casual and high-end art collectors.  Mr. Washington’s works have been added to the collection of several high-profile individuals, including President Bill Clinton.  Washington admirers often denote his striking restricted use of color, bold and fluid movement, and ability to intellectually challenge the viewer as the greatest attributes of his work.  Washington’s unique style of illustration (which he calls “dramatacism”) restricts color while exaggerating light and dark tones, giving his paintings a rich, moody, and ethereal quality. </p>
	<div class="image-center">
		<div class="image-inner">
			<div class="frame-big"><a href="/continual-struggle/works/we-will-never-stand-silent"><img alt="" class="image-overview_full" src="/sites/default/files/styles/overview_full/public/We%20Will%20Never%20Stand%20Silent.jpg?itok=nM6-ALmR" ></a></div>
			<div class="caption"><a href="/continual-struggle/works/we-will-never-stand-silent">&ldquo;We Will Never Stand Silent&rdquo;</a></div>
			<div class="actions"><a href="/continual-struggle/works/we-will-never-stand-silent">view details</a> <span class="bull">&bull;</span><a href="/continual-struggle/works/disinherited-belongs-future#purchase">purchase print</a> </div>
		</div>
	</div>
	<p>Washington considers art to be the ultimate outlet for personal expression, and one of his primary artistic goals is education.  In his words, he “hopes to take all the pain, sacrifice, and emotion of those who have fought for freedom before [him], and capture the struggle at the tip of a pencil or paintbrush.” It is this connection with the struggles of the past – and fervent dedication to use these struggles as lessons to forge a better future – that give his art a broad-based, universal appeal. </p>
	<div class="image-center">
		<div class="image-inner">
			<div class="frame-big"><a href="/continual-struggle/works/get-bus"><img alt="" class="image-overview_full" src="/sites/default/files/styles/overview_full/public/15_0.jpg?itok=1jlE9Efk" ></a></div>
			<div class="caption"><a href="/continual-struggle/works/get-bus">&ldquo;Get on The Bus&rdquo;</a></div>
			<div class="actions"><a href="/continual-struggle/works/get-bus">view details</a> <span class="bull">&bull;</span><a href="/continual-struggle/works/disinherited-belongs-future#purchase">purchase print</a> </div>
		</div>
	</div>
	<p>Washington became so inspired through his work on the original Continual Struggle series, that he now resides in Los Angeles, California, where has recently completed his work on the second edition of The Continual Struggle Collection, entitled “The Continual Struggle: The American Civil Rights Saga and the Seeds of Social Change.” Edition 2 is a large scale collection of 23 monochromatic charcoal paintings that take a symbolic look at the struggle for civil rights and the upward mobility of African Americans from the days of sharecropping to contemporary times.</p>
	<div class="image-center">
		<div class="image-inner">
			<div class="frame-big"><a href="/continual-struggle/works/sharing-burden"><img alt="" class="image-overview_full" src="/sites/default/files/styles/overview_full/public/1_0.jpg?itok=q9XWifYA" ></a></div>
			<div class="caption"><a href="/continual-struggle/works/sharing-burden">&ldquo;Sharing The Burden&rdquo;</a></div>
			<div class="actions"><a href="/continual-struggle/works/sharing-burden">view details</a> <span class="bull">&bull;</span><a href="/continual-struggle/works/disinherited-belongs-future#purchase">purchase print</a> </div>
		</div>
	</div>
	<p>Washington, who in addition to his artistic endeavors is also a prominent Los Angeles based attorney, sees multiple parallels between his art and legal education. “They are really two different means of getting to the same end,” said. “I want to raise awareness of certain issues and fight for what I believe is right. I want to be a voice for those who don’t, or can’t, raise theirs.” In what can been seen as an affirmation of this goal, Washington was awarded the “2010 Humanitarian Award” by the American Civil Liberties Union (“ACLU”) of Southern California for his civil rights related work. Mr. Washington was also recently named amongst a select group of young attorneys named “2013 Rising Stars” by the Los Angeles Times and Super Lawyers magazine.</p>
	
	<div id="works-footer" class="btns-block">
		<div class="devider">&bull;&bull;&bull;</div>
		
		<div class="btns">
			<a href="/continual-struggle/interactive-tour" class="btn">interactive tour</a><a href="/continual-struggle/works" class="btn">complete works</a><a href="/about" class="btn">about the artist</a>
		</div>
	</div>

</div>



















