<div id="works-header">
	<h1>Complete Works</h1>
	<p>These are the complete works of The Continual Struggle Collection. You can view each piece indiviually or start the <a href="/continual-struggle/interactive-tour" >interactive tour</a> complete with historical and artistic analysis.</p>
	
	<div class="btns btns-block"><a href="/continual-struggle/interactive-tour" class="btn">Interactive Tour</a></div>
	<div class="devider">&bull;&bull;&bull;</div>
</div>


<div id="works-footer" class="btns-block">
	<div class="devider">&bull;&bull;&bull;</div>
	
	<div class="btns">
		<a href="/shop" class="btn">purchase prints</a><a href="/continual-struggle/interactive-tour" class="btn">interactive tour</a><a href="/about" class="btn">about the artist</a>
	</div>
</div>



<div id="welcome-header">
	<h1>Welcome.</h1>
	<p>Thank you for yada yada Praesent eu lobortis magna. Morbi laoreet eu velit eu varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet est risus. Nulla ut sem id metus varius ultrices quis sed ante. Mauris lobortis nibh nec nisi scelerisque consequat. In elit neque, sodales et molestie eget, imperdiet in turpis. Mauris at ullamcorper nisl. Pellentesque eros nisl, vestibulum et leo a, sodales laoreet magna. Nulla eu metus sit amet nibh ornare aliquet vitae quis mauris.</p>

</div>


<div id="welcome-footer" class="btns-block">
	<div class="devider">&bull;&bull;&bull;</div>
	
	<div class="btns">
		<a href="/continual-struggle/overview" class="btn">Continual Struggle Overview</a><a href="/continual-struggle/interactive-tour" class="btn">interactive tour</a><a href="/about" class="btn">about the artist</a>
	</div>
</div>

<h1>Sorry,</h1>
<h2> we could not find that page.</h2>
<p>Please try that again.</p>
<div class="devider">&bull;&bull;&bull;</div>

<!-- SLIDES -->

<!-- start -->
<div class="header">
	<h1 class="intro">The Continual Struggle</h1>
	<h2>The American Freedom Movement and the Seeds of Change.</h2>
</div>
<p class="center">The Continual Struggle is artist Brian Washington’s ongoing body of artwork documenting the Civil Rights Movement and America’s historical struggle against segregation and other forms of race-based disenfranchisement. The Continual Struggle employs visual art as a means of storytelling, vividly recalling a time when people were willing to go into the streets to protest injustice and inequality.</p>
<div class="btns-block">
	<div class="devider">&bull;&bull;&bull;</div>
	
	<div class="btns">
		<a href="#" class="btn">start interactive tour</a>
	</div>
</div>

<!-- part one -->
	<div class="header">
		<h3>Part One</h3>
		<h1>The Sharecropping Years</h1>
		<h2>Freedom’s Strange Birth</h2>
	</div>
	<div class="quote">
		<p>“[T]he slave went free; stood for a brief moment in the sun; then moved back again toward slavery...”</p>
		<div class="author">- W. E. B. Du Bois</div>
		
	</div>
	<div class="side-left">
	<p>Throughout much of the twentieth century, a time when most African Americans either lived in the Deep South or where one generation removed from their southern roots, segregation was the law of the land.  The first sharecroppers were the former African American slaves. Under the sharecropping system, African American families would rent small plots of land in return for a portion of their crop, to be given to the landowner at the end of each year.</p>
	</div>
	<div class="side-right">
	<p>Despite the abolition of slavery, the landowners under the sharecropping system continued to largely control the lives of the African Americans working their land. What began as a device to replace slavery became a pernicious system that entrapped African American farmers, ensuring that they remained poor and virtually locked out of any opportunity for land ownership or basic human rights. It is here that struggle for equal rights, a Continual Struggle, began.</p>
	</div>
	<div class="devider">&bull;&bull;&bull;</div>

<!-- part two -->
	<div class="header">
		<h3>Part Two</h3>
		<h1>The Civil Rights Struggle</h1>
		<h2>The Price of Progress</h2>
	</div>
	<div class="quote">
		<p>“The whole history of the progress of human liberty shows that all concessions have been born of earnest struggle.  If there is no struggle, there is no progress...” </p>
		<div class="author">- Fredrick Douglass</div>
		
	</div>
	<div class="side-left">
	<p>Nearly 100 years after the Emancipation Proclamation and after the decline of sharecropping in the southern states, African Americans still inhabited a starkly unequal world of disenfranchisement, segregation and various forms of oppression, including race-inspired violence. “Jim Crow” laws at the local and state levels barred them from classrooms and bathrooms, from theaters and train cars, from juries and legislatures.</p>
	</div>
	<div class="side-right">
	<p>In the turbulent decade and a half that followed, civil rights activists used nonviolent protest and civil disobedience to bring about significant social change. Courageous individuals, both black and white, challenged the status quo. They risked—and sometimes lost—their lives in the name of freedom and equality.</p>
	</div>
	<div class="devider">&bull;&bull;&bull;</div>


<!-- part three -->
	<div class="header">
		<h3>Part Three</h3>
		<h1>The Civil Rights Struggle</h1>
		<h2>The Civil Rights Movement: Yesterday, Today, and Tomorrow</h2>
	</div>

	<div class="side-left">
	<p>The enormous gains of the Civil Rights Movement stand to last a long time.  However, the full effects of these gains are yet to be felt in American society. The struggle for equality is founded on the sacrifices and accomplishments of the brave activists of the Civil Rights Era, and those who supported them. By demonstrating the conflict ridden nature of social progress, these activists have bestowed modern Americans with a blueprint of the persistence, resolve, and fortitude required to create true social change. </p>
	</div>
	<div class="side-right">
	<p>"Equal rights" struggles now involve multiple races, as well as the issues of rights based upon gender and sexual orientation. Racism has lost its legal, political, and social standing, but the legacy of racism-- poverty, ignorance, and disease – still confronts American society in a very real way.  For America to live up to its true creed, the self-evident truth that “all men are created equal” must be fully realized.</p>
	</div>
	<div class="devider">&bull;&bull;&bull;</div>
<!-- slide info -->

<div class="header">
	<h2></h2>
</div>
<p></p>
<div class="devider">&bull;&bull;&bull;</div>



<h1>About Brian Washington </h1>

<div class="devider">&bull;&bull;&bull;</div>
<p>Artists are often eager to champion causes through their work.  The same can be said of some attorneys, especially those who prize social justice. </p>
<p>Brian Washington, a world-class self-taught artist, and award-winning Los Angeles based attorney, is both. </p>

<div class="btns-block">
	<div class="devider">&bull;&bull;&bull;</div>
	
	<div class="btns">
		<a href="/continual-struggle/overview" class="btn">continual struggle overview</a><a href="/continual-struggle/interactive-tour" class="btn">interactive tour</a>
	</div>
</div>

<div id="contact-content">
	<h1>Contact</h1>
	<h2>Brian Washington Studio</h2>
	<div class="phone">(323) 123-4567</div>
	<div class="email"><a href="mailto:info@brianwashington.com">info@brianwashington.com</a></div>
	<div class="devider">&bull;&bull;&bull;</div>
	<div class="social-icons">
	  <a href="http://www.facebook.com/brianwshington" class="icon facebook"></a><a href="http://twitter.com/brianwashington" class="icon twitter"></a><a href="http://instagram.com/brianwashington" class="icon instagram"></a>
	</div>
</div>









